.center-img {
  display: block;
  margin: 0 auto;
}

.page-item.active .page-link {
    background-color: #cc1d10;
    border-color: #cc1d10;
}

.page-link {
    color: #cc1d10;
}

.alert-info {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

a {
    color: #ff0000;
}

a:-webkit-any-link {
    color: #ff0000;
}

a:not([href]):not([tabindex]) {
    color: #721c24;
}