{% extends 'base.html' %}

{% block title %}
Ссылки
{% endblock %}

{% block content_title %}
<p class="container">Как со мной связаться </p>
{% endblock %}

{% block content %}
<div class="container">
    <div class="list-group">
        <a href="" target="_blank" class="list-group-item list-group-item-action">Telegram</a>
        <a href="https://vk.com/cr0manty" target="_blank" class="list-group-item list-group-item-action">VK</a>
        <a href="https://instagram.com/cromanty" target="_blank" class="list-group-item list-group-item-action">Instagram</a>
    </div>
</div>
{% endblock %}

